@model NutritionWatcher.ViewModels.MainPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.UserName == null)
{
    <div class="text-center form-group">
        <form asp-action="Greeting">
            <div class="col-md-10">
                <strong>Your name is</strong>
                <input type="text" asp-for="UserName"/>
                <button type="submit" value="enter" class="btn btn-primary">enter</button>
            </div>
        </form>
    </div>
}
else
{
    <div class="row mt-2">
        <h1>@Model.Greeting</h1>
        <style>
            body {background-color: pink}
        </style>
    </div>
}
